<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CovidViewerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CovidViewerClient.Properties.Settings>
            <setting name="RememberPasswordCheckState" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsernameText" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordText" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value>172.16.255.132</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>28102</value>
            </setting>
        </CovidViewerClient.Properties.Settings>
    </userSettings>
</configuration>